<div class="w-full max-w-screen-lg m-auto flex items-start justify-between py-3" >
  <%= render "shared/user_side_bar" %>
  <div class="flex-1 bg-white border rounded-lg mx-1 py-5 px-5">
    <h1 class="text-3xl font-medium">Change my password</h1>
    <div class="mt-4">
      <%= render "shared/array_error_messages", errors: @errors %>
      <%= form_with url: update_password_path, scope: :user, method: :patch, html: { class: "space-y-4" }, data: { turbo: false } do |f| %>
        <div class="field text-sm">
          <%= f.label :current_password, class: "block font-medium text-gray-900 mb-2" %>
          <%= f.password_field :current_password, autofocus: true, autocomplete: "password", class: "text-sm w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2.5", placeholder: "******" %>
        </div>

        <div class="field text-sm">
          <%= f.label :new_password, class: "block font-medium text-gray-900" %>
          <% if @minimum_password_length %>
            <div class="text-gray-900 mb-1 text-xs italic">(<%= @minimum_password_length %> characters minimum)</div>
          <% end %>
          <%= f.password_field :new_password, autofocus: true, autocomplete: "new-password", class: "text-sm w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2.5", placeholder: "******" %>
        </div>

        <div class="field text-sm">
          <%= f.label :new_password_confirmation, class: "block font-medium text-gray-900 mb-2" %>
          <%= f.password_field :new_password_confirmation, autofocus: true, autocomplete: "new-password", class: "text-sm w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2.5", placeholder: "******" %>
        </div>

        <%= f.submit "Change password", class: "text-sm bg-blue-600 text-white w-full px-5 py-2.5 rounded-lg hover:cursor-pointer hover:bg-blue-700" %>
      <% end %>
    </div>
  </div>
</div>
