<!DOCTYPE html>
<html>
  <head>
    <title>Rails Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gray-50">
    <%= render "shared/flash_message" %>
    <nav class="bg-red-300 shadow-lg">
      <div class="w-full max-w-screen-lg m-auto flex justify-center items-center h-16">
        <%= link_to root_path do %>
          <%= image_tag "/re-logo.png", class: "h-10" %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
